.navbar-brand {
  text-transform: uppercase;
}

.sep-20 {
  height: 20px;
}

.problem-detail dt {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.problem-detail dd, .readability {
  margin: 1em 20px 1em;
  font-size: 1.265rem;
  font-family: "minion-pro-1", "minion-pro-2", "Palatino", Georgia, "Times New Roman", serif;
  line-height: 1.8rem;
}

#recent .panel, .problem-detail .double-col .panel {
  padding: 0;
}

.edit_list li span {
  cursor: pointer;
  float: right;
}


.submit {
  .submit-meta {
    .form-control {
      color: $info;
    }
  }
}

ul.user-resolved-problem li {
    display: inline-block;
}
